<template>
  <section class="section">
    <nav
      class="breadcrumb"
      aria-label="breadcrumbs">
      <ul>
        <li><nuxt-link to="/">Top</nuxt-link></li>
        <li><nuxt-link to="/rules">Rules</nuxt-link></li>
        <li class="is-active"><a>{{ rule.title }}</a></li>
      </ul>
    </nav>
    <div>
      <CACanvas2D
        class="tile is-children"/>
      <CAController
        class="tile is-children"/>
    </div>
    <CARuleEditor/>
  </section>
</template>

<script>
import { TwoDimCellularAutomaton, OneDimCellularAutomaton } from '@/lib/ca'
import CACanvas2D from '@/components/CACanvas2D'
import CAController from '@/components/CAController'
import CARuleEditor from '@/components/CARuleEditor'
import { mapGetters } from 'vuex'
export default {
  name: 'CARule',
  components: {
    CACanvas2D,
    CAController,
    CARuleEditor
  },
  async fetch({ params, store }) {
    store.dispatch('loadStart')
    await store.dispatch('INIT_SINGLE_RULE', { id: params.id })
    store.dispatch('loadComplete')
  },
  provide() {
    return {
      automaton: this.automaton,
      config: this.config
    }
  },
  data() {
    return {
      automaton: new TwoDimCellularAutomaton({ width: 150, height: 75 }),
      config: {
        aliveColor: '#000',
        deadColor: '#fff',
        density: 0.5
      }
    }
  },
  computed: {
    ...mapGetters(['rule'])
  }
}
</script>
