<template>
  <section class="section">
    <h2 class="title">Rules</h2>
    <b-field>
      <b-taginput
        v-model="tags"
        placeholder="Tag search..."
        type="search"
        icon="magnify"/>
    </b-field>
    <div v-if="!searching">
      <div
        v-for="r in filteredRules"
        :key="r.id"
        class="rule card">
        <div class="card-header">
          <nuxt-link
            :to="`rules/${r.id}`"
            class="card-header-title">
            {{ `${r.title}` }}
          </nuxt-link>
          <b-taglist class="ruleTags">
            <b-tag
              v-for="(v, k) in r.tags"
              :key="k"
              size="medium">
              <a @click="pushTag(k)">
                {{ k }}
              </a>
            </b-tag>
          </b-taglist>
        </div>
        <div class="card-content">
          <p v-html="marked(r.description)" />
          {{ `(State Number: ${r.stateNumber})` }}
        </div>
      </div>
    </div>
    <div>
      <b-loading
        :active="searching"
        :is-full-page="false"/>
    </div>
    <nuxt-link
      id="newButton"
      to="/"
      class="button is-info">Create new rule. </nuxt-link>
  </section>
</template>

<script>
import marked from 'marked'
import _ from 'lodash'
import { mapActions, mapGetters } from 'vuex'
export default {
  data() {
    return {
      tags: [],
      searching: false
    }
  },
  computed: {
    filteredRules() {
      if (this.tags.length !== 0) {
        return this.rules.filter(r => {
          return this.tags.every(t => {
            return r.tags[t]
          })
        })
      } else {
        return this.rules
      }
    },
    ...mapGetters(['rules'])
  },
  methods: {
    pushTag(k) {
      this.tags.push(k)
      this.tags = _.sortedUniq(this.tags)
    },
    marked(value) {
      return marked(value)
    },
    ...mapActions(['INIT_RULES'])
  }
}
</script>
<style scoped lang="scss">
#newButton {
  margin-top: 20px;
}
.rule {
  margin-bottom: 20px;
}
.ruleTags {
  padding-right: 20px;
  a {
    color: #4a4a4a;
  }
}
</style>
