<template>
  <canvas
    id="ca-canvas"
    ref="canvas"
    :width="width"
    :height="height" />
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 600
    },
    height: {
      type: Number,
      default: 300
    }
  },
  data() {
    return {
      context: null
    }
  },
  inject: ['automaton', 'config'],
  computed: {
    cellWidth() {
      return this.width / this.automaton.width
    },
    cellHeight() {
      return this.height / this.automaton.height
    }
  },
  mounted() {
    this.context = this.$refs.canvas.getContext('2d')
    this.automaton.on('updated', ({ lattice }) => {
      this.drawWorld(lattice)
    })
    this.clearCanvas()
  },
  methods: {
    clearCanvas() {
      this.context.clearRect(0, 0, this.width, this.height)
      this.context.fillStyle = this.config.deadColor
      this.context.fillRect(0, 0, this.width, this.height)
    },
    drawWorld(lattice) {
      this.clearCanvas()
      this.context.fillStyle = this.config.aliveColor
      lattice.forEach((row, y) => {
        row.forEach((cell, x) => {
          if (cell === 1) {
            this.context.fillRect(
              x * this.cellWidth,
              y * this.cellHeight,
              this.cellWidth,
              this.cellHeight
            )
          }
        })
      })
    }
  }
}
</script>
