<template>
  <canvas
    id="ca-canvas"
    ref="canvas"
    :width="width"
    :height="height" />
</template>

<script>
export default {
  data() {
    return {
      width: window.innerWidth - 60,
      height: (window.innerWidth - 60) / 2,
      context: null
    }
  },
  inject: ['automaton', 'config'],
  computed: {
    cellWidth() {
      return this.width / this.automaton.width
    },
    cellHeight() {
      return this.height / this.automaton.height
    },
    colorMap() {
      let a = new Array(this.automaton.stateNumber).fill('')
      return a.map((elem, i) => {
        let r = (i / (this.automaton.stateNumber - 1)) * 255
        return `rgb(${r}, ${r}, ${r})`
      })
    }
  },
  mounted() {
    this.context = this.$refs.canvas.getContext('2d')
    this.automaton.on('updated', ({ lattice }) => {
      this.drawWorld(lattice)
    })
    this.clearCanvas()
    window.addEventListener('resize', this.onResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    clearCanvas() {
      this.context.clearRect(0, 0, this.width, this.height)
      this.context.fillStyle = this.config.deadColor
      this.context.fillRect(0, 0, this.width, this.height)
    },
    drawWorld(lattice) {
      this.clearCanvas()
      lattice.forEach((row, y) => {
        row.forEach((cell, x) => {
          this.context.fillStyle = this.colorMap[cell]
          this.context.fillRect(
            x * this.cellWidth,
            y * this.cellHeight,
            this.cellWidth,
            this.cellHeight
          )
        })
      })
    },
    onResize() {
      this.width = window.innerWidth - 60
      this.height = Math.floor(this.width / 2)
      this.$nextTick(function() {
        this.drawWorld(this.automaton.lattice)
      })
    }
  }
}
</script>
