<template>
  <b-field>
    <p class="control">
      <button
        class="button"
        title="Init"
        @click="init">
        <b-icon
          icon="refresh" />
      </button>
    </p>
    <p
      v-if="!running"
      class="control">
      <button
        class="button"
        title="Run"
        @click="run">
        <b-icon
          icon="play" />
      </button>
    </p>
    <p
      v-if="running"
      class="control">
      <button
        class="button"
        title="Stop"
        @click="stop">
        <b-icon
          icon="stop" />
      </button>
    </p>
    <p
      class="control">
      <button
        :disabled="running"
        class="button"
        title="Step Forward"
        @click="step">
        <b-icon
          icon="step-forward" />
      </button>
    </p>
  </b-field>
</template>

<script>
export default {
  inject: ['automaton', 'config'],
  data() {
    return {
      running: false,
      loopid: null
    }
  },
  methods: {
    init() {
      this.automaton.initWorld({ density: this.config.density })
    },
    step() {
      this.automaton.oneStep()
    },
    run() {
      if (!this.running) {
        try {
          this.running = true
          this.loop()
        } catch (e) {
          alert(e)
          this.stop()
        }
      }
    },
    loop() {
      this.step()
      this.loopid = window.requestAnimationFrame(this.loop)
    },
    stop() {
      if (this.running) {
        window.cancelAnimationFrame(this.loopid)
        this.running = false
      }
    }
  }
}
</script>
