<template>
  <div
    v-if="rule"
    id="caRuleEditor"
    class="card">
    <div class="card-header">
      <b-field
        v-if="!isNew || user"
        style="width: 100%;">
        <b-input
          v-model="rule.title"
          placeholder="Name of this rule."/>
      </b-field>
    </div>
    <div class="card-content">
      <div>
        <b-tag
          id="commpileStatus"
          :type="compileStatus.type"
          class="is-pulled-right"
          size="is-small">{{ compileStatus.message }}</b-tag>
      </div>
      <b-field>
        <b-select
          v-model="rule.program.language"
          @input="compileRule">
          <option
            v-for="(v, k) in languages"
            :key="k"
            :value="k">{{ v.label }}</option>
        </b-select>
      </b-field>
      <b-field
        id="codeEditor"
        class="is-marginless">
        <codemirror
          :value="rule.program.body"
          :options="cmOptions"
          @input="onCmCodeChange"/>
      </b-field>
      <b-field label="State Number">
        <b-input
          v-model.number="rule.stateNumber"
          min="2"
          @input="onStateNumberChange"/>
      </b-field>
      <b-field
        label="Tags">
        <b-taginput
          :disabled="!isEdittable"
          v-model="tagsArray"
          @input="onTagsUpdate"/>
      </b-field>
      <b-field
        v-if="!isNew || user"
        label="Description">
        <markdownEditor
          ref="markdownEditor"
          :configs="markdownOptions"
          v-model="rule.description"/>
      </b-field>
      <b-field v-if="isNew && user">
        <button
          class="button is-info"
          @click="createRule">
          Save this rule.
        </button>
      </b-field>
      <b-field v-else>
        <button
          v-if="isMyRule"
          class="button is-info"
          @click="saveRule">
          SAVE
        </button>
        <button
          v-if="isMyRule"
          class="button is-danger"
          @click="deleteRule">
          DELETE
        </button>
      </b-field>
    </div>
  </div>
</template>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/mode/javascript/javascript'
import 'codemirror/mode/forth/forth'
import 'codemirror/lib/codemirror.css'
import markdownEditor from 'vue-simplemde/src/markdown-editor'
import 'simplemde/dist/simplemde.min.css'
import { mapActions, mapGetters } from 'vuex'
export default {
  components: {
    codemirror,
    markdownEditor
  },
  inject: ['automaton'],
  props: {
    isNew: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      languages: {
        forth: {
          label: 'Forth',
          mime: 'text/x-forth'
        },
        javascript: {
          label: 'JavaScript',
          mime: 'text/javascript'
        }
      },
      compileStatus: {
        type: 'is-success',
        message: 'Rule compiled.'
      },
      saveStatus: {
        type: 'is-success',
        message: 'Rule saved.'
      },
      tagsArray: []
    }
  },
  computed: {
    cmOptions() {
      let mode = this.languages[this.rule.program.language].mime
      return {
        mode,
        lineNumbers: true,
        line: true,
        viewportMargin: 5
      }
    },
    // prettier-ignore
    markdownOptions() {
      return {
        placeholder: 'Description of this rule.',
        spellChecker: false
      }
    },
    isMyRule() {
      return this.user && this.rule.author_id === this.user.uid
    },
    isEdittable() {
      return this.isMyRule || this.isCreatable
    },
    isCreatable() {
      return this.user || this.isNew
    },
    // キャッシュされることを利用して平気でv-bindしてるけど大丈夫なのか?
    ...mapGetters(['rule', 'user'])
  },
  async mounted() {
    this.automaton.setStateNumber(this.rule.stateNumber)
    this.automaton.initWorld({ density: 0.5 })
    this.compileRule()
    this.tagsArray = Object.keys(this.rule.tags)
  },
  methods: {
    compileRule() {
      try {
        this.automaton.setRule(this.rule.program)
        this.compileStatus.type = 'is-success'
        this.compileStatus.message = 'Rule compiled.'
      } catch (e) {
        this.compileStatus.type = 'is-danger'
        this.compileStatus.message = e.message
      }
    },
    async saveRule() {
      this.saveStatus.type = 'is-info'
      this.saveStatus.message = 'saving...'
      try {
        await this.UPDATE_RULE(this.rule)
        this.saveStatus.type = 'is-success'
        this.saveStatus.message = 'Rule saved.'
        this.$snackbar.open({
          message: 'Rule saved.',
          type: 'is-success',
          duration: 3000
        })
      } catch (err) {
        this.saveStatus.type = 'is-danger'
        this.saveStatus.message = 'Rule unsaved.'
        this.$snackbar.open({
          message: `Failed to save rule. (${err.message})`,
          type: 'is-danger',
          duration: 3000
        })
      }
    },
    async createRule() {
      try {
        const ref = await this.CREATE_RULE(this.rule)
        this.$snackbar.open({
          message: 'Rule created.',
          type: 'is-success',
          duration: 3000
        })
        this.$router.push({ path: `/rules/${ref.id}` })
      } catch (err) {
        this.$snackbar.open({
          message: `Failed to create rule. (${err.message})`,
          type: 'is-danger',
          duration: 3000
        })
      }
    },
    async deleteRule() {
      try {
        await this.DELETE_RULE(this.rule)
        this.$snackbar.open({
          message: 'Rule deleted.',
          type: 'is-success',
          duration: 3000
        })
        this.$router.push({ path: `/rules` })
      } catch (err) {
        this.$snackbar.open({
          message: `Failed to delete rule. (${err.message})`,
          type: 'is-danger',
          duration: 3000
        })
      }
    },
    onCmCodeChange(newCode) {
      this.rule.program.body = newCode
      this.compileRule()
      this.saveStatus.type = 'is-danger'
      this.saveStatus.message = 'Rule unsaved.'
    },
    onStateNumberChange(newNumber) {
      this.automaton.setStateNumber(newNumber)
    },
    onTagsUpdate(newArray) {
      let m = {}
      newArray.forEach(x => (m[x] = true))
      this.rule.tags = m
    },
    ...mapActions([
      'CREATE_RULE',
      'UPDATE_RULE',
      'DELETE_RULE',
      'loadStart',
      'loadComplete'
    ])
  }
}
</script>

<style scoped lang="scss">
#caRuleEditor {
  margin-top: 20px;
  #codeEditor /deep/ {
    .CodeMirror {
      border: solid 1px #ddd;
      margin-bottom: 20px;
    }
  }
}
</style>
