<template>
  <div>
    <b-field>
      <b-input
        v-model="program"
        type="textarea"
        style="width: 100%;"/>
    </b-field>
    <b-field>
      <button
        class="button"
        @click="compile">
        COMPILE RULE
      </button>
      <button
        class="button"
        @click="saveRule">
        SAVE RULE
      </button>
    </b-field>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  inject: ['automaton', 'config'],
  data() {
    return {
      program: this.config.program
    }
  },
  methods: {
    compile() {
      try {
        this.automaton.setRule(this.program)
      } catch (e) {
        alert(e.message)
      }
      alert('Rule compiled!')
    },
    async saveRule() {
      await this.ADD_RULE({
        program: this.program
      })
    },
    ...mapActions(['ADD_RULE', 'loadStart', 'loadComplete'])
  }
}
</script>
