<template>
  <nav
    class="navbar header has-shadow is-primary"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link
        :to="{name: 'index'}"
        class="navbar-item">ca-explorer</nuxt-link>
      <div
        :class="{ 'is-active' : showNav }"
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarMenu"
        @click="showNav = !showNav">
        <span/>
        <span/>
        <span/>
      </div>
    </div>

    <div
      id="navbarMenu"
      :class="{ 'is-active' : showNav }"
      class="navbar-menu">
      <div class="navbar-start">
        <nuxt-link
          v-for="(item, key) of items"
          :key="key"
          :to="item.to"
          class="navbar-item"
          active-class="is-active">
          {{ item.title }}
        </nuxt-link>
      </div>
      <div class="navbar-end">
        <TheUserInfo class="navbar-item"/>
      </div>
    </div>
  </nav>
</template>

<script>
import TheUserInfo from '@/components/TheUserInfo'
export default {
  components: {
    TheUserInfo
  },
  data() {
    return {
      items: [
        { title: 'Rules', icon: '', to: { name: 'rules' } },
        { title: 'Forth', icon: '', to: { name: 'learn-forth' } }
      ],
      showNav: false
    }
  }
}
</script>
