<template>
  <div class="loading">
    <b-loading
      :active="!isLoaded"
      :is-full-page="true"
      :can-cancel="true" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['isLoaded'])
  }
}
</script>
