<template>
  <div class="userinfo">
    <div
      v-if="user"
      class="buttons">
      <a
        class="button is-danger"
        @click="callSignOut">Logout</a>
    </div>
    <a
      v-else
      class="button is-info"
      @click="callAuth">Signin with Google</a>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    ...mapActions(['callAuth', 'callSignOut'])
  }
}
</script>
