<template>
  <div>
    <TheHeader />
    <nuxt />
    <TheLoading/>
  </div>
</template>

<script>
import auth from '@/plugins/auth'
import TheHeader from '@/components/TheHeader'
import TheLoading from '@/components/TheLoading'
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
    TheHeader,
    TheLoading
  },
  computed: {
    ...mapGetters(['user'])
  },
  async mounted() {
    this.loadStart()
    if (!this.user) {
      let user
      user = await auth()
      this.$store.dispatch('SET_CREDENTIAL', { user })
    }
    await this.$store.dispatch('INIT_RULES')
    this.loadComplete()
  },
  methods: {
    ...mapActions(['loadComplete', 'loadStart'])
  }
}
</script>
