<template>
  <section class="section">
    <div>
      <CACanvas2D
        class="tile is-children"/>
      <CAController
        class="tile is-children"/>
    </div>
    <CARuleEditor :is-new="true"/>
  </section>
</template>

<script>
import { TwoDimCellularAutomaton } from '@/lib/ca'
import CACanvas2D from '@/components/CACanvas2D'
import CAController from '@/components/CAController'
import CARuleEditor from '@/components/CARuleEditor'
import { mapGetters } from 'vuex'
export default {
  name: 'Top',
  components: {
    CACanvas2D,
    CAController,
    CARuleEditor
  },
  async fetch({ params, store }) {
    store.dispatch('loadStart')
    let id = store.state.user ? store.state.user.uid : ''
    await store.dispatch('INIT_SINGLE_RULE_TOP', {
      title: '',
      description: '# Description of this rule in MarkDown.',
      dimension: 1,
      stateNumber: 2,
      range: 1,
      program: {
        language: 'javascript',
        body: `let sum = neighbors.reduce((a,b) => a+b)
if (c === 1) {
  nextState = sum == 2 || sum == 3 ? 1 : 0
} else {
  nextState = sum == 3 ? 1 : 0
}`
      },
      author_id: id
    })
    store.dispatch('loadComplete')
  },
  provide() {
    return {
      automaton: this.automaton,
      config: this.config
    }
  },
  data() {
    return {
      automaton: new TwoDimCellularAutomaton({ width: 150, height: 75 }),
      config: {
        aliveColor: '#000',
        deadColor: '#fff',
        density: 0.5
      }
    }
  }
}
</script>
