<template>
  <section class="section">
    <div class="stack">
      STACK: [ {{ vm.dataStack.toString() }} ]
    </div>
    <div
      ref="terminal"
      class="terminal"
      @click="focusToInput">
      <div class="history">
        <span
          v-for="(v, i) in terminal.history"
          :key="i"
          class="line">
          {{ v }}
        </span>
      </div>
      <input
        ref="input"
        v-model="terminal.input"
        @keyup.enter="onReturn"
        @keyup.up="onUp"
        @keyup.ctrl.80="onUp"
        @keyup.down="onDown"
        @keyup.ctrl.78="onDown">
    </div>
  </section>
</template>

<script>
import { ForthVM } from '@/lib/forth'

export default {
  name: 'LearnForth',
  data() {
    return {
      vm: new ForthVM(),
      terminal: {
        input: '',
        history: [],
        pos: 0
      }
    }
  },
  methods: {
    onReturn() {
      this.terminal.history.push(this.terminal.input)
      this.pos = this.terminal.history.length
      this.parse(this.terminal.input)
      this.terminal.input = ''
      // scroll to the bottom.
      this.$nextTick(this.scrollDown)
    },
    onUp() {
      if (this.pos !== 0) {
        this.pos -= 1
      }
      this.terminal.input = this.terminal.history[this.pos]
    },
    onDown() {
      if (this.pos < this.terminal.history.length) {
        this.pos += 1
      }
      this.terminal.input = this.terminal.history[this.pos]
    },
    focusToInput() {
      this.$refs.input.focus()
    },
    parse(input) {
      if (input === 'clear') {
        this.scrollDown()
      }
      this.vm.parse(input)
      try {
        this.vm.run(input)
      } catch (e) {
        console.log(e)
      }
    },
    scrollDown() {
      this.$refs.terminal.scrollTop = this.$refs.terminal.scrollHeight
    }
  }
}
</script>

<style scoped lang="scss">
.terminal {
  background: #000;
  color: #8e8;
  height: 300px;
  overflow: scroll;
  .history .line {
    display: block;
    height: 24px;
    padding-left: 4px;
  }
  input {
    background: #000;
    color: #8e8;
    border: 0;
    box-shadow: none;
    font-size: inherit;
    width: 100%;
    padding-left: 4px;
    height: 24px;
    &:focus {
      outline: 0;
    }
  }
}
</style>
